<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>

<h1 style="background: aquamarine;font-family: serif;color: #3b46ff;text-align: center">My First Heading</h1>
<hr/>
<p>My first <br/>paragraph.</p>
</body>
<h1 style="text-align:center">This is a heading</h1>
<p>鲁迅说过：</p>
<blockquote cite="http://www.baidu.com">
    百度真是个神奇的地方啊。
    想搜的东西搜不到。
    不想搜的东西一直出来。
    广告越来越多。
</blockquote>
<p>我们的的目标是：<q>没有蛀牙！</q></p>

<pre>
    private static SqlSessionFactory sqlSessionFactory;

    static {
        sqlSessionFactory =  SingletonMybatis.getSqlSessionFactory();
    }
</pre>

</html>