<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML 表单</title>
    <style type="text/css">
        .heads {
            background: black;
            color: #ffffff;
            font-size: 20px;
            text-align: center;
            padding: 10px;
        }
        input{
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<form action="../../pages/index.html">
    <div class="heads">Input_Demo</div>
    <input type="text" name="user_name"><br/>
    <input type="password" name="user_pwd"><br/>
    <input type="radio" name="sex" value="male"> Male
    <input type="radio" name="sex" value="female"> Female
</form>
</body>
</html>